/*-----------------GENERAL-----------------------*/

/*--------------------IMAGES----------------------*/
#tictactoeTable{
  display: grid;
  grid-template-columns: 12rem 12rem 12rem;
}

#tictactoeTable div{
  border: 2px solid black;
  width: 12rem;
  height: 12rem; 
  font-size: 12rem;
  font-family: Arial;
  font-weight: 700;
  text-align: center;
  padding: 0 0 1rem 0;
}

/*-------------------------TEXT AND STUFF-----------------------*/